<div class="container text-center">
  <div class="card-category mt-5">
    Stupid Coaching
  </div>
</div>

<div class="container text-center mt-5">
  <form action="/answer" data-turbo="false">
    <input type="text" name="answer">
    <input type="button" class="btn btn-outline-success" value="Ask!">
  </form>
</div>
